ion-spinner {
  width: 100px !important;
  height: 100px !important;
  margin: auto;
}

ion-button {
  height: 55px;
  font-size: large;
  font-weight: 700;
  margin-bottom: 20px;
  margin-right: 16px;
  margin-left: 16px;
}

.header {
  margin: 10px auto;

  .avatar {
    width: 160px;
    height: 160px;
    position: relative;
    margin: 0 auto;

    img {
      display: block;
      border-radius: 100%;
      position: absolute;
    }
  }
}
