<ion-content padding text-center>

    <ion-title>Couch Surfing</ion-title>

    <ion-input type="text" placeholder="Kullanıcı Adı" class="myInput" [(ngModel)]="username"></ion-input>

    <ion-input type="email" placeholder="Email" class="myInput" [(ngModel)]="email"></ion-input>

    <ion-input type="password" placeholder="Şifre" class="myInput" [(ngModel)]="password"></ion-input>


    <ion-button expand="block" (click)="signup()">Kayıt Ol</ion-button>

    <a style="color: white" routerLink="/login" routerDirection="root">Hesabınız var mı?</a>

</ion-content>
