.card-body {
  overflow: hidden;
  background-color: white;

  .button-style {
    margin: 0 20px 15px 20px;
    color: white;
    border-radius: 5px;
    height: 55px;
  }

  .user-meta {

    .username {
      font-size: 24px;
      font-weight: 600;
      color: #303940;
    }

    .chip {
      background-color: #009688;
      color: #ffffff;
    }

    .chip2 {
      background-color: #F44336;
      color: #ffffff;
    }
  }
}


.card {
  margin: 0 auto;

  .header {
    height: 180px;

    .avatar {
      width: 180px;
      height: 180px;
      position: relative;
      margin: 0 auto;

      img {
        display: block;
        border-radius: 50%;
        position: absolute;
        background-color: #fff;
      }
    }
  }
}
