<ion-content>
    <ion-infinite-scroll scrollX="true">

        <div class="card">
            <div class="header ion-margin">
                <div class="avatar">
                    <img [src]="profilePic" alt="">
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="user-meta" text-center>
                <h3 class="username">{{username}}</h3>
                <div class="row" *ngIf="cities != null" margin-bottom="20px">

                    <ion-chip color="primary" *ngFor="let selected of cities">
                        <ion-icon name="pin" color="primary"></ion-icon>
                        <ion-label>{{selected.name}}</ion-label>
                    </ion-chip>

                </div>

                <h6>
                    <ion-chip class="chip ion-margin-bottom">
                        <ion-label>REFERANSLAR &nbsp;</ion-label>
                    </ion-chip>
                    <ion-chip class="chip2 ion-margin-bottom">
                        <ion-label>{{refCount}}</ion-label>
                    </ion-chip>
                </h6>

            </div>
            <ion-button expand="block" class="button-style" (click)="gotoMyPosts()">Paylaştığım Postlar</ion-button>
            <ion-button expand="block" class="button-style">Gelen Davetler</ion-button>
            <ion-button expand="block" class="button-style">Sohbetlerim</ion-button>
            <ion-button expand="block" class="button-style" color="danger" (click)="logOut()">Çıkış Yap</ion-button>

        </div>


    </ion-infinite-scroll>

    <ion-fab vertical="end" horizontal="end">
        <ion-fab-button color="danger" (click)="settingsClick()">
            <ion-icon name="md-settings"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
